
<div>
  <p><b>Repositories</b>: </p>
  <ul style="list-style-type: none;">
    <li ng-if="($ctrl.reposList.length <= 0)"><p>No repository is found.</p></li>
    <li ng-repeat="repo in $ctrl.reposList" style="margin-top: 10px;">
      <div class="container">
        <div class="panel panel-default">
          <div class="panel-body">
            <p class="reposname">Project Name:
              <a href="{{repo.html_url}}" class="reposlink">
                {{repo.name | uppercase}}
              </a>
            </p>
            <p>Description:</p>
            <p>
              <span ng-if="repo.description <= 0" ng-class="repos_notfound">Can not find description for {{repo.name}}</span>
              {{repo.description}}
            </p>
          </div>
        </div>
      </div>
    </li>
  </u>
</div>
